<form action="{% url 'referal:add' %}" method="post">
	{% csrf_token %}
	Patient: <select name="patient">
				{% for p in patient %}
				<option value="{{ p.firstname }},{{ p.lastname }}">
				{{ p.firstname }},{{ p.lastname }}
				</option>
				{% endfor %}
			</select><br>	
	Service Provider: <select name="serviceprovider">
						{% for s in serviceprovider %}
						<option value="{{ s.firstname }},{{ s.lastname }}">
						{{ s.firstname }},{{ s.lastname }}
						</option>
						{% endfor %}
					</select><br>
	Institution: <select name="institution">
					{% for inst in institution %}
					<option value="{{ inst.name }}">{{ inst.name }}</option>
					{% endfor %}
				</select><br>
	<input type="submit" value="Add Referal">
</form>