<h3> Edit {{ serviceprovider.category }}</h3>

<form action="{% url 'serviceprovider:update' serviceprovider.id %}" method="post">
{% csrf_token %}
<input type="text" name="firstname" value=" {{ serviceprovider.firstname }}">
<input type="text" name="lastname" value="{{ serviceprovider.lastname }}"><br>

<select name="category"> 
<option value="Doctor">Doctor</option>
<option value="SPECIALIST">Specialist</option>
<option value="TRAINER">Trainer</option>
</select>

<select name="qualification"> 
<option value="Degree">Degree</option>
<option value="Diploma">Diploma</option>
<option value="Honours">Honours</option>
<option value="BTech">BTech</option>
<option value="MTech">MTech</option>
<option value="Master">Master</option>
<option value="Doctrate">Doctrate</option>
<option value="DTech">DTech</option>
</select>

<select name="speciality"> 
<option value="Dentist">Dentist</option>
<option value="Urologist">Urologist</option>
<option value="Psycologist">Psycologist</option>
<option value="Physiotherapist">Physiotherapist</option>
<option value="Radiologist">Radiologist</option>
</select><br>

<input type="submit" value="Edit {{ serviceprovider.category }} " />
</form>