<form action="{% url 'availability:update' availability.id %}" method="post">
{% csrf_token %}
Status: <select name="status">
	<option value="0">Available</option>
	<option value="1">Unavailale</option>
</select><br>
Daily Availability: <select name="availability">
	<option value="5" disabled>No daily availability</option>
	<option value="0">Monday</option>
	<option value="1">Tuesday</option>
	<option value="2">Wedesday</option>
	<option value=""3>Thursday</option>
	<option value="4">Friday</option>
</select><br>
Weekly Availability: <input type="checkbox" name="availability" value="weekly"><br>
Start TIme: <input type="text" name="starttime"><br>
End Time: <input type="text" name="endtime"><br>
Service Provider: 
<select name="serviceprovider">
{% for service in serviceprovider %}
	<option value="{{ service.firstname }},{{ service.lastname }}">{{ service.firstname }},{{ service.lastname }}</option>
{% endfor %}
</select><br>
Institution: 
<select name="institution">
{% for inst in institution %}
	<option value="{{ inst.name }}">{{ inst.name }}</option>
{% endfor %}
</select><br>
<input type="submit" value="Update Availability">
</form>