<form action="{% url 'institution:update' institution.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" value="{{ institution.name }}"><br>
    <input type="text" name="location" value="{{ institution.location }}"><br>
    <select name="category">
        <option value=1>Hospital</option>
        <option value=2>Fitness Centre</option>
        <option value=0>General Practitioner</option>
        <option value=3>Clinic</option>
        <option value=4>School</option>
    </select><br>
    <input type="submit" value="Update Institution">
</form>