<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="container">
		<form action="{% url 'institution:add' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name"><br>
            <input type="text" name="location"><br>
            <select name="category">
                <option value=1>Hospital</option>
                <option value=2>Fitness Centre</option>
                <option value=0>General Practitioner</option>
                <option value=3>Clinic</option>
                <option value=4>School</option>
            </select><br>
            <input type="submit" value="Add Institution">
        </form>
	</div>
</body>

</html>
