<html lang="en">
<head>
	
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctor</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <script src="{% static 'bootstrap/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/jquery.1.12.4.js' %}"></script>
    <script src="{% static 'bootstrap/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/jquery-ui.js' %}"></script>

</head>

<body>
	<div class="container" style="width:96%;margin:0% 2% 0% 2%">
        
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style=""></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center" style="height: 100%;border-radius: 10px;background-color: white;padding-top:25%;border:2px solid blue">
            </div>
        </div>

    </div>
</body>

</html>