<html lang="en">
<head>
	
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <script src="{% static 'bootstrap/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/jquery.1.12.4.js' %}"></script>
    <script src="{% static 'bootstrap/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/jquery-ui.js' %}"></script>

</head>

<body>                                                                                                                                                                                                                                      
	<div class="container" style="width:100%;margin:0% 0% 0% 0%">
		
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center"></div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center" style="height: 100%;border-radius: 10px;background-color: white;padding-top:25%">
                <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <form name="signIn" action="" method="POST">{% csrf_token %}
                        <input type="text" name="firstname" placeholder="First Name" style="width:32%;padding:5px"><br>
                        <input type="password" name="lastname" placeholder="Last Name" style="width:32%;padding:5px"><br>
                        <input type="text" name="Idnumber" placeholder="Identity Number" style="width:32%;padding:5px"><br>
                        <input type="password" name="password" placeholder="" style="width:32%;padding:5px"><br>
                        
                        <select name="day" style="padding:5px">
                            <option value="day" disabled selected>Day</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                        </select>

                        <select name="month" style="padding:5px">
                            <option value="Month" disabled selected>Month</option>
                            <option value="01">Jan</option>
                            <option value="02">Feb</option>
                            <option value="03">Mar</option>
                            <option value="04">Apr</option>
                            <option value="05">May</option>
                            <option value="06">Jun</option>
                            <option value="07">Jul</option>
                            <option value="08">Aug</option>
                            <option value="09">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>

                        <select name="year" style="padding:5px">
                            <option value="year" disabled selected>Year</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select><br>

                        <input type="text" name="username" style="width:32%;padding:5px"><br>
                        <input type="password" name="password" style="width:32%;padding:5px"><br>
                        <input class="btn bg-primary" style="padding:10px 96px 10px 96px;margin-top:2px;font-weight: bold;" type="submit" name="submit_btn" value="Register">
                    </form>
                </div>
            </div>
        </div>

	</div>

</body>

</html>